<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex</title>

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/deracula.css">
</head>
<body>
    <header id="header">
        <h1><a href="#">LAYOUT</a></h1>
        <nav class="header_nav">
            <ul>
              <li><a href="Float.html">Float</a></li>
                <li><a href="Flex.html">Flex</a></li>
                <li><a href="Grid.html">Grid</a></li>
            </ul>
        </nav>
    </header>
    <!-- //header --> 
    <main id="main">
        <div class="document">
            <h2 class="t_tit">Flex</h2>
            <p class="t_box">
                flex를 이용한 레이아웃은 flexbox로도 불리며, 레이아웃을 만들 때 유연하고 동적인 구조를 유지할 수 있는 박스 모델로 설계되었다.
            </p>

            <hr>

            <h3 class="t_tit2">레이아웃01</h3>
            <h4 class="t_tit3">1. flex를 이용한 일반 레이아웃 만들기</h4>
        
            <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="LYdjWbX" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/LYdjWbX">
                Untitled</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script><br>

              <h4 class="t_tit3">1-1. flex를 이용한 반응형 레이아웃 만들기</h4>
              <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="OJvjpZN" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/OJvjpZN">
                레이아웃01_4</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

              <hr>
           
              <h3 class="t_tit2">레이아웃_02</h3>
              <h4 class="t_tit3">1. flex를 이용한 일반 레이아웃 만들기</h4>
              <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="QWmMvrV" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/QWmMvrV">
                레이아웃02_3</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script><br>
              
              <h4 class="t_tit3">1-1. flex를 이용한 반응형 레이아웃 만들기</h4>
              <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="yLKobqw" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/yLKobqw">
                Untitled</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

              <hr>

              <h3 class="t_tit2">레이아웃_03</h3>
              <h4 class="t_tit3">1. flex를 이용한 일반 레이아웃 만들기</h4>
              <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="RwMZVYg" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/RwMZVYg">
                레이아웃03_3</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script><br>
              
              <h4 class="t_tit3">1-1. flex를 이용한 반응형 레이아웃 만들기</h4>
              <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="MWVvmqR" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/MWVvmqR">
                레이아웃03_4</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

        </div> 
    </main>
    <!-- //main -->
    <footer id="footer">
        <a href="mailto:praise1109@gmail.com">praise1109@gmail.com</a>
    </footer>
    <!-- //footer -->
</body>
</html>