<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/deracula.css">
</head>
<body>
    <header id="header">
        <h1><a href="#">LAYOUT</a></h1>
        <nav class="header_nav">
            <ul>
              <li><a href="Float.html">Float</a></li>
                <li><a href="Flex.html">Flex</a></li>
                <li><a href="Grid.html">Grid</a></li>
            </ul>
        </nav>
    </header>
    <!-- //header --> 
    <main id="main">
        <div class="document">
            <h2 class="t_tit">Grid</h2>
            <p class="t_box">
                grid는 flex와 다르게 2개 축을 모두 활용하여 격자(#) 위에 아이템을 배치하는 레이아웃 방식이다.<br>
                복잡한 구조의 웹을 구성하려면 grid 레이아웃 방법을 사용하는 것이 효율적이다.
            </p>

            <hr>

            <h3 class="t_tit2">레이아웃_01</h3>
            <h4 class="t_tit3">1. grid를 이용한 일반 레이아웃 만들기</h4>
        
            <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="ZExJLxO" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/ZExJLxO">
                레이아웃01</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script><br>

              <h4 class="t_tit3">1-1. grid를 이용한 반응형 레이아웃 만들기</h4>
              <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="ExEvZGv" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/ExEvZGv">
                레이아웃01_2</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>


              <hr>
           
              <h3 class="t_tit2">레이아웃_02</h3>
              <h4 class="t_tit3">1. grid를 이용한 일반 레이아웃 만들기</h4>
              <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="VwXzbqp" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/VwXzbqp">
                레이아웃02_5</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script><br>
              
              <h4 class="t_tit3">1-2. grid를 이용한 반응형 레이아웃 만들기</h4>
              <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="ExEvmrj" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/ExEvmrj">
                레이아웃02_6</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

              <hr>

              <h3 class="t_tit2">레이아웃_03</h3>
              <h4 class="t_tit3">1. grid를 이용한 일반 레이아웃 만들기</h4>
              <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="zYWdwbG" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/zYWdwbG">
                레이아웃03_5</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script><br>
              
              <h4 class="t_tit3">1-2. grid를 이용한 반응형 레이아웃 만들기</h4>
              <p class="codepen" data-height="350" data-default-tab="html,result" data-slug-hash="QWmMvoz" data-editable="true" data-user="eu-ny" style="height: 350px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/eu-ny/pen/QWmMvoz">
                레이아웃03_6</a> by eu-ny (<a href="https://codepen.io/eu-ny">@eu-ny</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

        </div> 
    </main>
    <!-- //main -->
    <footer id="footer">
        <a href="mailto:praise1109@gmail.com">praise1109@gmail.com</a>
    </footer>
    <!-- //footer -->
</body>
</html>