@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* cursor: none; */
}

/* game header */
#header {
    font-family: 'Galmuri11';
    position: fixed;
    width: 100%;
    /* background: rgb(14, 8, 52); */
    background: #2c2735;
    /* height: 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

#header h1 {
    color: #f5f5f5;
    font-size: 20px;
    padding: 5px;
}

#header .time {
    color: #f5f5f5;
}

/* main */
/* cursor */
.mouse__cursor {
    z-index: 2001;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    pointer-events: none;
}

.icon_box {
    text-align: center;
}

.icon {
    position: absolute;
    left: 70px;
    width: 54px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.icon img {
    width: 54px;
}

.icon span {
    font-family: 'galmuri11';
    display: block;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 2px;
    white-space: nowrap;
}

.icon.active span {
    background: #000;
}

.icon1 {
    top: 100px;
}

.icon2 {
    top: 200px;
}

.icon3 {
    top: 300px;
}

.icon4 {
    top: 400px;
}

.icon5 {
    top: 500px;
}

.icon6 {
    top: 600px;
}

.icon6 img {
    scale: 0.9;
}


/* .icon1 {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 54px;
}
.icon img {
    width: 100%;
}
.icon span {
    font-family: 'galmuri11';
    display: block;
    background: #000;
    color: white;
    font-size: 12px;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
}
.icon2 {
    position: absolute;
    left: 100px;
    top: 200px;
    width: 54px;
}
.icon3 {
    position: absolute;
    left: 100px;
    top: 300px;
    width: 54px;
}
.icon4 {
    position: absolute;
    left: 100px;
    top: 400px;
    width: 54px;
}
.icon5 {
    position: absolute;
    left: 100px;
    top: 500px;
    width: 54px;
}
.icon6 {
    position: absolute;
    left: 100px;
    top: 600px;
    width: 54px;
} */

/* footer */
#footer {
    font-family: 'Galmuri11';
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #05131b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    color: #f5f5f5;
    text-align: center;
}

#footer .agent {
    font-size: 14px;
}

/* 기기 별 푸터 스타일 */
/* .mac #footer {}
.window #footer {} */

/* Game__source__close */
.Game__source {
    background: rgba(0, 0, 0, 0.805);
    width: 400px;
    height: 300px;
    padding: 40px 20px 70px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    left: 30%;
    backdrop-filter: blur(5px);
    transform: scaleY(0);
}
.Game__source.show {
    transform: scaleY(1);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Game__source > h2 {
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 7px #fff, 0 0 42px #8551ff,
    0 0 82px #8551ff, 0 0 92px #8551ff, 0 0 102px #8551ff, 0 0 151px #8551ff;
}
.Game__source__inner {
    width: 100%;
    height: 100%;
}

.Game__source__close {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.527);
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 5px 5px;
    box-sizing: border-box;
    z-index: 100;
}

.Game__source__inner li {
    padding-top: 40px;
    list-style: none;
}
.Game__source__inner li a:hover {
    background: rgba(255, 255, 255, 0.903);
    color: #000;
}

.Game__source__inner a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 767px) {
    .icon1 {
        position: absolute;
        left: 10%;
        top: 13%;
        width: 7vw;
    }
    
}