:root {
    --htmlColor: #223547;
    --cssColor: #472222;
    --javascriptColor: #224736;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NexonLv1Gothic";
    color: var(--htmlColor);
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  a {
    color: var(--htmlColor);
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  /* header */
  #header {
    display: flex;
    justify-content: space-between;
  }
  #header nav {
    margin: 10px;
  }
  #header nav li {
    position: relative;
    display: inline;
  }
  #header nav li a {
    width: 30px;
    height: 30px;
    border: 1px solid var(--htmlColor);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-family: "NexonLv1Gothic";
  }
  #header nav li.active a {
    background-color: var(--htmlColor);
    color: #fff;
  }
  #header nav li .sub {
    position: absolute;
    left: 0;
    top: 35px;
    width: 400px;
  }
  #header nav li .sub li a {
    width: auto;
    background-color: transparent;
    color: var(--htmlColor);
    border: 0;
    text-align: left;
    line-height: 1.2;
  }
  #header nav li .sub li.active a {
    text-decoration: underline;
  }
  /* main */
  #main {
    margin: 50px 10px;
  }
  .search__wrap {
    max-width: 1400px;
    margin: 0 auto;
    border: 3px solid var(--htmlColor);
    border-radius: 20px;
    background-color: #F1F3F6;
    padding: 30px;
    text-align: center;
  }
  .search__wrap>span {
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
  }
  .search__wrap > h1 a {
    font-family: "Tmon";
    color: var(--htmlColor);
    font-size: 5vw;
    margin-bottom: 10px;
  }
  .search__wrap .desc {
    line-height: 1.4;
    padding: 20px 0;
  }
  .search__wrap .time {
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    background: var(--htmlColor);
  }
  .search__wrap .time span {
    color: #fff;
    font-size: 34px;
    font-weight: 100;
  }
  .search__box {
    margin-bottom: 20px;
    position: relative;
  }
  .search__box label {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }
  .search__box input {
    border: 2px solid var(--htmlColor);
    padding: 15px 40px;
    /* width: 30%; */
    border-radius: 50px;
    font-size: 20px;
    margin-top: 20px;
  }
  .search__box .start {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    background: #223547;
    /* width: 30%; */
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid var(--htmlColor);
    padding: 15px 40px;
    color: #fff;
    cursor: pointer;
  }
  .search__list li {
    text-align: left;
    line-height: 1.7;
  }
  .search__list li.show {
    display: block;
  }
  .search__list li.hide {
    display: none;
  }
  .search__list span {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--htmlColor);
    border-radius: 50px;
    margin: 5px;
    transition: all 0.3s;
    cursor: pointer;
  }
  .search__list span:hover {
    background-color: var(--htmlColor);
    color: #fff;
  }
  .search__list em {
    float: right;
    font-style: normal;
  }
  .search__list .line {
    margin: 50px 0;
  }
  .search__list .line li {
    background: #E3EAF5;
    padding: 10px 30px;
    margin-bottom: 5px;
    border-radius: 50px;
  }
  .search__list .line li:hover {
    background: #D3E2FA;
    cursor: pointer;
  }
  .search__info {
    text-align: right;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--htmlColor);
  }
  .search__info.center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px ; /* 간격이 알아서 잡힌다. */
    padding-bottom: 20px;
  }
  .search__info .type {
    text-align: center;
    margin-bottom: 10px;
  }
  .search__info .keyword {
    text-align: center;
    margin-bottom: 10px;
  }
  .search__info .keyword span {
    border: 2px solid var(--htmlColor);
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 4px;
  }
  .search__info .keyword span:hover {
    background-color: var(--htmlColor);
    color: #fff;
    cursor: pointer;
  }
  .search__desc {
    padding: 20px 40px 20px 60px;
    margin-bottom: 50px;
    border-radius: 50px;
    display: inline-block;
    background-color: var(--htmlColor);
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='8' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.5 16.958L21.5 21.958' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 22px 17px;
  }
  .search__click {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .search__click li {
    display: inline;
  }
  .search__click li a {
    display: inline-block;
    border: 1px solid var(--htmlColor);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px 0;
  }
  .search__click li a:hover {
    background-color: var(--htmlColor);
    color: #fff;
  }
  @media (max-width: 600px) {
    .search__wrap {
      padding: 20px;
    }
    .search__wrap>span {
      font-size: 16px;
      margin-bottom: 10px;
    }
    .search__wrap>h1 {
      font-size: 44px;
    }
    .search__box input {
      font-size: 16px;
      padding: 12px 30px;
    }
  }
  /* footer */
  #footer {
    text-align: center;
  }
  #footer a {
    color: #000;
    font-family: "NexonLv1Gothic";
    padding-bottom: 50px;
  }
  #footer a:hover {
    text-decoration: underline;
  }
  .search__answers {
    display: none;
    border-bottom: 2px dashed var(--htmlColor);
    padding-bottom: 40px;
  }
  .search__answers span {
    display: inline-block;
    background: var(--htmlColor);
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    margin: 3px;
  }
  .search__missAnswers {
    display: none;
    border-bottom: 2px dashed var(--htmlColor);
    padding: 40px 0;
  }
  .search__missAnswers span {
    margin: 5px;
    display: inline-block;
    border: 1px solid var(--htmlColor);
    color: var(--htmlColor);
    padding: 10px 20px;
    border-radius: 30px;
  }
  .search__audio {
    margin-bottom: 10px;
    cursor: pointer;
  }
  .search__audio > span {
    text-align: center;
    /* width: 24px; */
    height: 32px;
  }
  .search__audio .play {
    display: none;
  }

  .search__result {
    position: fixed;
    left: 3vw;
    top: 3vw;
    margin-left: -20px;
    width: 65vw;  
    height: 65vw;
    background: #fff;
    border: 4px solid #9468c5;
    border-radius: 50%;
    z-index: 10000;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    display: none;
    transform: scale3d(0, 0, 0);
  }
  .search__result .result {
    font-size: 1em;
    margin-top: 30px;
    line-height: 1.4;
    color: #254052;
  }
  .search__result .restart {
    background: #9468c5;
    color: #fff;
    border: 0;
    border-radius: 50px;
    font-size: 20px;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
  }
  .search__result.show {
    display: flex;
    animation: rubberBand 1s 0.6s ease forwards;
  }

  @keyframes rubberBand {
    from {
      transform: translate(-50%, -50%); transform: scale3d(1, 1, 1);
    }
    30% {
      transform: translate(-50%, -50%); transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: translate(-50%, -50%); transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: translate(-50%, -50%); transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: translate(-50%, -50%); transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: translate(-50%, -50%); transform: scale3d(1.05, 0.95, 1);
    }
    to {
      transform: translate(-50%, -50%); transform: scale3d(1, 1, 1);
    }
  }


  /* modal__wrap */

.modal__btn {
  color: #223547;
  border: 1px solid #223547;
  border-radius: 50px;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.modal__btn:hover {
  background-color: #223547;
  color: #fff;
}


.modal__cont {
  font-size: 14px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;     /* X축으로는 스크롤 바가 생기지 않게 해준다. */
  display: flex;
  align-items: center;    /* 가운데 정렬 aic */
  justify-content: center;    /* 가운데 정렬 jcc */
  transform: scale(0); /* 요소 안보이게 하기 */
}

.modal__box {
  width: 70%;
  height: 70vh;
  border-radius: 0.6rem;
  box-shadow: 0 10px 20px -5px hsl(180deg 2% 10%); /* 스크립트를 사용할 때 편한 컬러 설정 단위! */
  transform: scale(0);
}
.modal__box .title {
  padding-inline: 1rem;
  background-color: hsl(252 24% 10%);
  display: flex;
  align-items: center;
  color: #fff;
  height: 50px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  
}
.modal__box .title .dot {
  width: 15px;
  height: 15px;
  background-color: hsl(180 2% 50%);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  margin-left: 2rem;
}
.modal__box .title .dot::before {
  content: '';
  position: absolute;
  left: 25px;
  top: 0;
  width: 15px;
  height: 15px;
  background-color: hsl(180 2% 50%);
  border-radius: 50%;
}
.modal__box .title .dot::after {
  content: '';
  position: absolute;
  right: 25px;
  top: 0;
  width: 15px;
  height: 15px;
  background-color: hsl(180 2% 50%);
  border-radius: 50%;
}
.modal__box .title .plus {
  background: hsl(242 19% 21%);
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.5rem;
  color: #7a7d9d;
}
.modal__box .title .tabs {
  display: flex;
  margin-left: 50px;
}
.modal__box .title .tabs > div {
  color: hsl(39 50% 59%);
  background-color: hsl(242 19% 21%);
  padding: 0.35rem 0.8rem 0.25rem 0.8rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  text-transform: uppercase;
  cursor: pointer;
}
.modal__box .title .tabs > div.active {
  background-color: black;
}
.modal__box .title .tabs > div em {
  font-style: normal;
}
.modal__box .title .tabs > div .favicon {
  margin-right: 0.4rem;
  margin-top: 0.2rem;
}
.modal__box .title .tabs > div .close {
  margin-left: 5rem;
}
.modal__box .cont {
  background-color: #282936; /* cont 배경색 */
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.modal__box .cont > div {
  display: none;
}
.modal__box .cont > div.active {
  display: block;
  height: 100%;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #1f224a;
  padding: 1rem 1rem 0.8rem 1rem;
  border-radius: 5px;
  box-shadow: 0 5px 7px -5px hsl(180deg 2% 10%);
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0;
}
.modal__close:hover {
  background-color: #33377d;
}
.modal__close svg {
  color: #fff;
}

/* 모달 애니메이션 */
.modal__cont.show {   /* 전체 배경 */
  animation: foldOut 1s ease forwards; /* forwards 애니메이션이 작동된 후 고정*/
}
.modal__cont.show.hide {   
  animation: foldIn 0.3s 0.5s ease backwards; 
}
.modal__cont.show .modal__box {      /* 스트립트 배경 */
  transform: scale(0);
  animation: zoomOut 0.5s 1s ease forwards;
}
.modal__cont.show.hide .modal__box {
  animation: zoomIn 0.5s ease forwards; 
}
.modal__cont.show .modal__close {      /* 닫기 버튼 */
  animation: opacityOut 0.8s 1s ease forwards;
}
.modal__cont.show.hide .modal__close {  
  animation: opacityIn 0.3s ease forwards;
}

@keyframes foldOut {    /* show가 붙었을 때 작동되는 애니메이션*/
  0%   {transform: scaleX(0) scaleY(0.001);}
  50%  {transform: scaleX(1) scaleY(0.001);}
  100% {transform: scaleX(1) scaleY(1);}
}
@keyframes foldIn {    /* show hide가 붙었을 때 작동되는 애니메이션*/
  0%   {transform: scaleX(1) scaleY(1);}
  50%  {transform: scaleX(1) scaleY(0.001);}
  100% {transform: scaleX(0) scaleY(0.001);}
}
@keyframes zoomOut {    /* show가 붙었을 때 작동되는 애니메이션*/
  0%   {transform: scale(0);}
  100% {transform: scale(1);}
}
@keyframes zoomIn {    /* show hide가가 붙었을 때 작동되는 애니메이션*/
  0%   {transform: scale(1);}
  100% {transform: scale(0);}
}
@keyframes opacityOut {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes opacityIn {    /* show hide가 붙었을 때 작동되는 애니메이션*/
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

@media (max-width: 1100px) {
  .modal__box .title {
      overflow: hidden;
  }
  .modal__box .title .dot {
      display: none;
  }
  .modal__box .title .tabs {
      margin-left: 0; /* 줄였을 때 상단 원 지우기*/
  }
  .modal__box .title .dot > div .close {
      display: none;
  }
}
@media (max-width: 800px) {
  #header {
      width: 100%;
      text-align: center;
  }
  #header h1 {
      line-height: 1.4;
  }
  .modal__box {
      width: 96%;
  }
}