:root {
    --htmlColor: #223547;
}

body::-webkit-scrollbar {
    width: 4px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.searchGame {
    display: none;
    z-index: 20;
    top: 100px;
    left: 210px;
}

.search__wrap {
    max-width: 900px;
    height: 580px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #0f0114de;
    position: relative;
    padding: 30px;
    text-align: center;
    backdrop-filter: blur(5px);
}

.search__wrap > span {
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    color: var(--htmlColor);
}

.search__wrap > h1 {
    font-family: 'TwaySky';
    color: #fff;
    font-size: 48px;
    margin-bottom: 30px;
    margin-top: 60px;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px #8551ff,
    0 0 82px #8551ff, 0 0 92px #8551ff, 0 0 102px #8551ff, 0 0 151px #8551ff;
}

.search__wrap > .search_desc {
    font-family: 'JejuMyeongjo';
    color: #fff;
}

.search__wrap .time {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 20px auto 0px auto;
    border-radius: 20px;
}
.search__wrap .time span {
    color: #fff;
    font-size: 34px;
}

.search__box {
    margin-bottom: 20px;
    position: relative;
}

.search__box label {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.search__box input {
    border: 2px solid var(--htmlColor);
    padding: 15px 40px;
    width: 60%;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 20px;
  }
.search__box .start {
    position: absolute;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
    width: 60%;
    border-radius: 50px;
    font-size: 20px;
    padding: 15px 40px;
    background: #000;
    border: 3px solid #fff;
    box-shadow: 0 0 10px #8551ff,
				0 0 20px #8551ff,
				0 0 30px #8551ff;
    color: #fff;
    cursor: pointer;
  }

/* .searchInfo {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
} */

.search__list li {
    text-align: left;
    line-height: 1.7;
}

.search__list li.hide {
    display: none;
}

.search__list li.show {
    display: block;
}

.search__list span {
    font-family: 'SUIT';
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    margin: 5px;
    text-align: left;
    cursor: pointer;
    text-shadow: 0 0 5px #fff, 0 0 10px #8551ff;
}

.search__list span:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.3s;
}

.search__list em {
    float: right;
    font-style: normal;
}

.search__list .line {
    margin-top: 70px;
    margin-bottom: 50px;
}
.search__list .line li {
    background: #e3eaf5;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px 30px;
}
.search__list .line li:hover {
    background: #c2d5f5;
    cursor: pointer;
}

.search__info {
    font-family: 'SUIT';
    text-align: right;
    margin-bottom: 20px;
    padding-bottom: 10px;
    /* border-bottom: 2px dashed #fff; */
    color: #fff;
}

.search__info.center {
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    padding-bottom: 20px;
}

.search__info .type {
    margin-bottom: 10px;
    text-align: center;
}

.search__info .all {
    display: inline;
    margin-bottom: 10px;
}

.search__info .all span {
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 500;
}

.search__info .all span:hover {
    background-color: var(--htmlColor);
    color: #fff;
    cursor: pointer;
}
.search__info .keyword {
    display: inline;
    margin-bottom: 10px;
}

.search__info .keyword span {
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 500;
}

.search__info .keyword span:hover {
    /* background-color: var(--htmlColor); */
    color: #fff;
    cursor: pointer;
}

.search__info div:nth-child(3) {
    text-align: right;
}
.search__info div:nth-child(4) {
    text-align: right;
}
.search__info .searchResult.hide {
    display: none;
}

.search__answers {
    padding-bottom: 40px;
    padding-top: 10px;
}
.search__answers span {
    font-family: 'SUIT';
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 42px #8551ff,
    0 0 82px #8551ff, 0 0 92px #8551ff, 0 0 102px #8551ff, 0 0 151px #8551ff;
    border-radius: 30px;
    margin: 3px;
}
.search__missAnswers {
    padding: 40px 0;
    margin-bottom: 30px;
}
.search__missAnswers span {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    margin: 3px;
}

/* .search__desc {
    padding: 20px 40px 20px 60px;
    margin-bottom: 30px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='8' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.5 16.958L21.5 21.958' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-color: var(--htmlColor);
    color: #fff;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: 24px 18px;
} */

.search__click {
    margin-top: 10px;
    margin-bottom: 30px;
}
.search__click li {
    display: inline;
}
.search__click li a {
    display: inline-block;
    /* border: 1px solid var(--htmlColor);
    border-radius: 50px; */
    padding: 10px 20px;
    margin: 5px 0;
}
.search__click li a:hover {
    background-color: var(--htmlColor);
    color: #fff;
}

.search__audio {
    text-align-last: left;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
}
.search__audio .play {
    display: none;
}

.search__result {
    position: absolute;
    left: 23%;
    top: 23%;
    width: 30vw;
    height: 30vw;
    background: #0d0322f2;;
    border: 3px solid #fff;
    box-shadow: 0 0 10px #8551ff,
				0 0 20px #8551ff,
				0 0 30px #8551ff;
    transform: scale3d(0, 0, 0);
    z-index: 1;
    align-items: center;
    color: #fff;
    font-weight: 300;
    justify-content: center;
    display: none;
}

.search__result.show {
    display: flex;
    animation: rubberBand 1s 0.6s ease forwards;
}

.search__result .result {
    font-family: 'SUIT';
    margin-top: 120px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
}
.search__result .restart {
    font-family: 'TwaySky';
    text-shadow: 0 0 7px #fff, 0 0 42px #8551ff,
    0 0 82px #8551ff, 0 0 92px #8551ff, 0 0 102px #8551ff, 0 0 151px #8551ff;
    background: transparent ;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}
@keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
}


/* footer */
#footer {
    text-align: center;
}

#footer a {
    color: #000;
    font-family: "SCoreDream";
    padding-bottom: 50px;
}

#footer a:hover {
    text-decoration: underline;
}

/* modal__wrap */
.modal__wrap {
    text-align: left;
    font-family: "SCoreDream";
}

/* .modal__btn {
    color: white;
    background-color: #1f224a;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: "SCoreDream";
}

.modal__btn:hover {
    background-color: white;
    color: #1f224a;
} */

.modal__cont {
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modal__box {
    width: 80%;
    min-width: 400px;
    border-radius: 0.6rem;
    background-color: #fff;
    box-shadow: 0 10px 20px -5px hsl(180deg 2% 10%);
    height: 70vh;
    transform: scale(0);
}

.modal__box .title {
    padding-inline: 1rem;
    cursor: grab;
    background-color: hsl(180 2% 10%);
    display: flex;
    align-items: center;
    color: #fff;
    height: 50px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.modal__box .title .plus {
    background: #282b2e;
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
}

.modal__box .title .dot {
    width: 15px;
    height: 15px;
    background-color: #cc7832;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 25px;
}

.modal__box .title .dot::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #6a8759;
    border-radius: 50%;
}

.modal__box .title .dot::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #b30000;
    border-radius: 50%;
}

.modal__box .title .tabs {
    display: flex;
    margin-left: 45px;
}

.modal__box .title .tabs > div {
    color: hsl(39 33% 66%);
    background-color: hsl(22 7% 29%);
    padding: 0.35rem 0.7rem 0.25rem 0.8rem;
    margin-right: 0.65rem;
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    text-transform: uppercase;
    cursor: pointer;
}

.modal__box .title .tabs > div em {
    font-style: normal;
}

.modal__box .title .tabs > div.active {
    background-color: #1f224a;
}

.modal__box .title .tabs > div .favicon {
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}

.modal__box .title .tabs > div .close {
    margin-left: 5rem;
}

.modal__box .cont {
    background-color: #282936;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.modal__box .cont > div {
    display: none;
}

.modal__box .cont > div.active {
    display: block;
    height: 100%;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #1f224a;
    padding: 1rem 1rem 0.8rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
}

.modal__close:hover {
    background-color: #292c61;
}

.modal__close svg {
    color: #fff;
}

/* 모달 애니메이션 */
/* animation: zoom 0s 0s 작업했을 때 앞은 애니메이션 시간, 뒤는 딜레이 시간 */

.modal__cont.show {
    /* 전체 배경 */
    animation: foldOut 1s ease forwards;
}
.modal__cont.show .modal__box {
    /* 스크립트 박스 */
    animation: zoomOut 0.5s 1s ease forwards;
}
.modal__cont.show .modal__close {
    /* 닫기 버튼 */
    animation: opacityOut 0.5s 1.5s ease forwards;
}

.modal__cont.show.hide {
    animation: foldIn 0.3s 0.5s ease backwards;
}

.modal__cont.show.hide .modal__box {
    animation: zoomIn 0.5s ease forwards;
}

.modal__cont.show.hide .modal__close {
    animation: opacityIn 0.5s ease forwards;
}

/* scaleX, scaleY : Line을 그리며 커지는 애니메이션 */
@keyframes foldOut {
    0% {
        transform: scaleX(0) scaleY(0.001);
    }

    50% {
        transform: scaleX(1) scaleY(0.001);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes foldIn {
    0% {
        transform: scaleX(1) scaleY(1);
    }

    50% {
        transform: scaleX(1) scaleY(0.001);
    }

    100% {
        transform: scaleX(0) scaleY(0.001);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes opacityOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes opacityIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* 미디어쿼리 */
@media (max-width: 1000px) {
    .modal__box .title {
        overflow: hidden;
    }

    .modal__box .title .dot {
        display: none;
    }

    .modal__box .title .tabs {
        margin-left: 0;
    }

    .modal__box .title .tabs .close {
        display: none;
    }
}

@media (max-width: 600px) {
    #header {
        text-align: center;
        width: 100%;
    }
    #header h1 {
        line-height: 1.4;
    }
    .madal__box {
        width: 96%;
    }
}


/* heart ani */
.flex-container {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .unit {
    text-align: center;
  }
  .unit p {
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
  }
  .heart {
    position: relative;
    font-size: 0;
    width: 138px;
  }
  [class*="heart-piece-"] {
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
  .heart-piece-4 {
    -webkit-animation: piece-4 3.2s infinite;
            animation: piece-4 3.2s infinite;
  }
  .heart-piece-3,
  .heart-piece-5 {
    -webkit-animation: piece-3 3.2s infinite;
            animation: piece-3 3.2s infinite;
  }
  .heart-piece-2,
  .heart-piece-6 {
    -webkit-animation: piece-2 3.2s infinite;
            animation: piece-2 3.2s infinite;
  }
  .heart-piece-1,
  .heart-piece-7 {
    -webkit-animation: piece-1 3.2s infinite;
            animation: piece-1 3.2s infinite;
  }
  .heart-piece-0,
  .heart-piece-8 {
    -webkit-animation: piece-0 3.2s infinite;
            animation: piece-0 3.2s infinite;
  }
  .heart-piece-0 {
    left: 0px;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    background-color: #ec2d73;
    box-shadow: 0 0 20px #fdf6ff44, 0 0 30px #fdf6ff44;
  }
  .heart-piece-1 {
    left: 16px;
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
    background-color: #eb5324;
    box-shadow: 0 0 20px #fdf6ff44, 0 0 30px #fdf6ff44;
  }
  .heart-piece-2 {
    left: 32px;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    background-color: #fdc800;
    box-shadow: 0 0 20px #fdf6ff44, 0 0 30px #fdf6ff44;
  }
  .heart-piece-3 {
    left: 48px;
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
    background-color: #47b264;
    box-shadow: 0 0 20px #fdf6ff44, 0 0 30px #fdf6ff44;
  }
  .heart-piece-4 {
    left: 64px;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    background-color: #1470bd;
    box-shadow: 0 0 20px #fdf6ff44, 0 0 30px #fdf6ff44;
  }
  .heart-piece-5 {
    left: 80px;
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
    background-color: #76469a;
    box-shadow: 0 0 20px #fdf6ff44, 0 0 30px #fdf6ff44;
  }
  .heart-piece-6 {
    left: 96px;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
    background-color: #ec2d73;
    box-shadow: 0 0 20px #fdf6ff44, 0 0 30px #fdf6ff44;
  }
  .heart-piece-7 {
    left: 112px;
    -webkit-animation-delay: 1.05s;
            animation-delay: 1.05s;
    background-color: #eb5324;
    box-shadow: 0 0 20px #fdf6ff44, 0 0 30px #fdf6ff44;
  }
  .heart-piece-8 {
    left: 128px;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
    background-color: #fdc800;
    box-shadow: 0 0 20px #fdf6ff44, 0 0 30px #fdf6ff44;
  }
  @-webkit-keyframes piece-4 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 94px;
      top: -23px;
    }
  }
  @keyframes piece-4 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 94px;
      top: -23px;
    }
  }
  @-webkit-keyframes piece-3 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 90px;
      top: -31px;
    }
  }
  @keyframes piece-3 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 90px;
      top: -31px;
    }
  }
  @-webkit-keyframes piece-2 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 80px;
      top: -37px;
    }
  }
  @keyframes piece-2 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 80px;
      top: -37px;
    }
  }
  @-webkit-keyframes piece-1 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 60px;
      top: -31px;
    }
  }
  @keyframes piece-1 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 60px;
      top: -31px;
    }
  }
  @-webkit-keyframes piece-0 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 30px;
      top: -15px;
    }
  }
  @keyframes piece-0 {
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
    }
    45%, 55% {
      height: 30px;
      top: -15px;
    }
  }
  